.comment-input-container {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
  }
  
 .comment-input-container textarea {
    resize: none;
    height: 20px;
    padding: 10px;
    margin-bottom: 10px;
  }
  
 .comment-input-container button {
    background-color: #4c72af;
    color: white;
    border: none;
    padding: 6px;
    cursor: pointer;
    border-radius: 4px;
  }
  
 .comment-input-container button:hover {
    background-color: #45a049;
  }